<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    <h1>Welcome to Fruits App</h1>

    <nav>
        <a href="/fruits/new">Create a new fruit</a>
    </nav>

    <ul>
        <% for(let i=0; i<fruits.length; i++) { %>
            <li>
                <a href="/fruits/<%=fruits[i].id%>"><%=fruits[i].name%></a> 
                <form action="/fruits/<%=fruits[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" />
                </form>
                <a href="/fruits/<%=fruits[i].id%>/edit">Edit</a>
            </li>
            <br/>
        <% } %>
    </ul>
</body>
</html>