<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Fruit App</h1>
    <nav>
        <a href="/auth/signup">Signup</a>
        <a href="/auth/login">Login</a>
    </nav>
</body>
</html>